
html {
  background-color: var(--bg-secondary);
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: var(--spacing-lg) var(--spacing-md);
}

h1, h2, h3, h4, h5, h6, p, span, a, label {
  color: var(--text-color);
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
}

h2,h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

h4, h5, h6{
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

p, button {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

a, span, label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-md);
  gap: var(--spacing-xs);
  width: 100%;
}

input,
button {
  padding: var(--spacing-sm) var(--spacing-xs);
  width: 100%;
  border-radius: var(--radius-sm);
  border: 1.1px solid var(--accent-color);
  background-color: rgba(30, 33, 56, 0.5);
  box-shadow: var(--shadow-medium);
  color: #fff;
  box-sizing: border-box;
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px rgba(140, 143, 168, 0.1) inset !important;
  background-color: rgba(140, 143, 168, 0.1) !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(140, 143, 168, 0.1) inset !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
}

input:-moz-autofill {
  box-shadow: 0 0 0 1000px rgba(140, 143, 168, 0.1) inset !important;
  background-color: rgba(140, 143, 168, 0.1) !important;
  color: #fff !important;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}