:root {
    /* Cores */
  --bg-primary: #0e0f24;
  --bg-secondary: #11121f;
  --text-color: #f8f8f8;

  /* Espaçamentos responsivos */
  --spacing-xs: clamp(4px, 1vw, 8px);
  --spacing-sm: clamp(8px, 1.5vw, 12px);
  --spacing-md: clamp(12px, 2vw, 16px);
  --spacing-lg: clamp(16px, 3vw, 24px);
  --spacing-xl: clamp(24px, 4vw, 32px);
  --spacing-xxl: clamp(32px, 5vw, 48px);

  /* Font sizes responsivos */
  --font-size-xs: clamp(0.75rem, 1vw, 0.875rem); /* 12px a 14px */
  --font-size-sm: clamp(0.875rem, 1.25vw, 1rem); /* 14px a 16px */
  --font-size-md: clamp(1rem, 1.5vw, 1.125rem); /* 16px a 18px */
  --font-size-lg: clamp(1.125rem, 2vw, 1.25rem); /* 18px a 20px */
  --font-size-xl: clamp(1.25rem, 2.5vw, 1.5rem); /* 20px a 24px */
  --font-size-xxl: clamp(1.5rem, 3vw, 2rem); /* 24px a 32px */

  /* Shadows */
  --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.15);
  --shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.2);

  /* Extras */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --transition-default: 0.4s ease-in-out;
}
